# Virtual environment
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/snapshots/*

# ML artifacts
models/*.pkl
models/*.joblib

# Logs
logs/*
*.log

# OS
.DS_Store

# IDE
.vscode/